
body {
    font-family: 'PT Serif', serif;
    color: #111111;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#container{
    width: 1260px;
    margin: 100px auto 0 auto;
    padding: 0;
}

#overview {
	overflow:hidden;
	vertical-align:baseline;
}

ol, ul{
	list-style:none;
}

#overview li {
    width: 390px;
    padding: 15px;
    float: left;
   }

#overview li .preview{
	height: 260px;
    overflow: hidden;
    margin: 0 0 15px 0;
    border: 1px #ccc solid;
}

#overview li .preview a {
    display: block;
    width: 102%;
    height: 100%;
    overflow: hidden;
}

img {
    border: none;
    outline: 0;
}

a {
    text-decoration: none;
    color: #111111;
}

h4 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.08em;
}


h3 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style:italic;
    line-height:0px;
    font-size: 14px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.08em;
}